<div class="zf-social-share">
  <h4>Share this tool:</h4>
  <div class="zf-social-links">
    <a href="https://twitter.com/intent/tweet?text={{ title | urlencode }}&url={{ site.url | urlencode }}{{ page.url | urlencode }}" target="_blank" rel="noopener noreferrer" class="zf-share-link twitter" aria-label="Share on Twitter">
      <span class="icon">𝕏</span> Twitter
    </a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url | urlencode }}{{ page.url | urlencode }}" target="_blank" rel="noopener noreferrer" class="zf-share-link facebook" aria-label="Share on Facebook">
      <span class="icon">f</span> Facebook
    </a>
    <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ site.url | urlencode }}{{ page.url | urlencode }}" target="_blank" rel="noopener noreferrer" class="zf-share-link linkedin" aria-label="Share on LinkedIn">
      <span class="icon">in</span> LinkedIn
    </a>
    <a href="mailto:?subject={{ title | urlencode }}&body=Check out this tool from ZeroFlow: {{ site.url | urlencode }}{{ page.url | urlencode }}" class="zf-share-link email" aria-label="Share via Email">
      <span class="icon">✉</span> Email
    </a>
  </div>
</div>
